x-selenium-common: &selenium-common
  image: selenium/standalone-chrome:latest
  shm_size: 2gb
  environment:
    - SE_NODE_SESSION_TIMEOUT=1800
    # ここを増やすことで並列化もできるが、/dev/shm・CPU・メモリを奪い合うので不安定化するかも
    # なので 1 にして複数立てる
    - SE_NODE_MAX_SESSIONS=1
  restart: unless-stopped

x-selenium-healthcheck: &selenium-healthcheck

services:
  postgres:
    image: postgres:15
    command: postgres -c log_destination=stderr -c log_statement=all -c log_connections=on -c log_disconnections=on
    ports:
      - ${DATABASE_PORT_OUTER}:${DATABASE_PORT_INNER}
    volumes:
      - db:/var/lib/postgresql/data
    environment:
      # この環境変数があると、ユーザとパスワードとデフォルトデータベース名が自動で作成される
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${DATABASE_USERNAME}"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s

  selenium0: # health checkいれるぞ (後で) 
    <<: *selenium-common
    container_name: selenium0
    profiles: ["selenium"]
    ports: ["4444:4444", "7900:7900"]
    healthcheck:
      test: ["CMD-SHELL", "curl -sf http://localhost:4444/status | grep -q '\"ready\":true'" ]
      interval: 10s
      timeout: 5s
      retries: 20
      start_period: 15s
  selenium1:
    <<: *selenium-common
    profiles: ["selenium"]
    container_name: selenium1
    ports: ["4445:4444", "7901:7900"]
    healthcheck:
      test: ["CMD-SHELL", "curl -sf http://localhost:4445/status | grep -q '\"ready\":true'" ]
      interval: 10s
      timeout: 5s
      retries: 20
      start_period: 15s
  selenium2:
    <<: *selenium-common
    profiles: ["selenium"]
    container_name: selenium2
    ports: ["4446:4444", "7902:7900"]
    healthcheck:
      test: ["CMD-SHELL", "curl -sf http://localhost:4446/status | grep -q '\"ready\":true'" ]
      interval: 10s
      timeout: 5s
      retries: 20
      start_period: 15s
  selenium3:
    <<: *selenium-common
    profiles: ["selenium"]
    container_name: selenium3
    ports: ["4447:4444", "7903:7900"]
    healthcheck:
      test: ["CMD-SHELL", "curl -sf http://localhost:4447/status | grep -q '\"ready\":true'" ]
      interval: 10s
      timeout: 5s
      retries: 20
      start_period: 15s

volumes:
  db:
    driver: local
