[config]
default_to_workspace = false

# --- 環境変数 ---
# トップレベル env は特別な意味を持つ
# すべてのタスクで共通の環境変数として使われる
[env]
HOST = "0.0.0.0"
PORT = 8080
DATABASE_USERNAME = "app"
DATABASE_PASSWORD = "passwd"
DATABASE_NAME = "app"
DATABASE_PORT_OUTER = 5434
DATABASE_PORT_INNER = 5432
NOTIFY_DISCORD = "TRUE"

# Docker Composeのネットワーク内でのDB等への接続情報
# tasks.hoge.env はタスクごとの環境変数として使われる
[tasks.set-env-docker.env]
DATABASE_HOST = "postgres"
DATABASE_PORT = "${DATABASE_PORT_INNER}"
DATABASE_URL = "postgresql://${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}?user=${DATABASE_USERNAME}&password=${DATABASE_PASSWORD}&sslmode=disable"

# Docker Compose外からDB等にアクセスする際の接続情報
[tasks.set-env-local.env]
DATABASE_HOST = "localhost"
DATABASE_PORT = "${DATABASE_PORT_OUTER}"
DATABASE_URL = "postgresql://${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}?user=${DATABASE_USERNAME}&password=${DATABASE_PASSWORD}&sslmode=disable"

# --- Top Level Tasks ---
[tasks.run-notifier]
extend = "set-env-local"
dependencies = ["before-run"]
#script = '''
#echo "[run-notifier-default] env check"
#echo "HOST=${HOST}"
#echo "DATABASE_HOST=${DATABASE_HOST}"
#echo "DATABASE_PORT=${DATABASE_PORT}"
#echo "DATABASE_URL=${DATABASE_URL}"
#echo "NOTIFY_DISCORD=${NOTIFY_DISCORD}"
#'''
command = "cargo"
args = ["run", "--release", "-p", "batch", "${@}"]

[tasks.run-notifier-default]
env = { NOTIFY_DISCORD = "FALSE" }
run_task = "run-notifier"
# ここ run_task じゃなくて run-notifier の中身をコピペすると環境変数がおかしくなって DATABASE_URL が正しく設定されなくなる
# かなり罠


[tasks.run-server]
extend = "set-env-local"
dependencies = ["before-run"]
command = "cargo"
args = ["run", "--release", "-p", "server", "${@}"]

[tasks.build]
extend = "set-env-local"
dependencies = ["before-run"]
command = "cargo"
args = ["build", "${@}"]

# --- Auxiliary Tasks ---
[tasks.before-build]
run_task = [
    { name = [
        "compose-up-db",
        "migrate",
    ] },
]

[tasks.before-run]
# 繰り返し使うと chromedriver の挙動が怪しくなるので毎回立ち上げ直す
dependencies = ["compose-down", "before-build"]
run_task = [
    { name = [
        "compose-up",
    ] },
]


# --- Development ---
[tasks.watch]
extend = "set-env-local"
dependencies = ["before-build"]
run_task = [{ name = ["fmt", "clippy", "test"] }]
watch = true

[tasks.fmt]
extend = "set-env-local"
command = "cargo"
args = ["fmt", "--all", "${@}"]

[tasks.clippy]
extend = "set-env-local"
command = "cargo"
args = ["clippy", "--all", "--all-targets", "${@}"]

[tasks.test]
extend = "set-env-local"
install_crate = { crate_name = "cargo-nextest", binary = "cargo", test_arg = [
  "nextest", "--help",
] }
command = "cargo"
args = [
  "nextest", "run", "--workspace",
  "--status-level", "all", "--test-threads=1",
]

[tasks.clippy-ci]
extend = "set-env-local"
dependencies = ["before-build"]
command = "cargo"
args = ["clippy", "--", "--no-deps", "-Dwarnings"]

[tasks.test-ci]
dependencies = ["before-build"]
run_task = "test"


# --- Migration ---
[tasks.migrate]
extend = "set-env-local"
install_crate = { crate_name = "sqlx-cli", binary = "sqlx", test_arg = "--help", version = "0.7.3" }
script = '''
#!/bin/bash
until sqlx migrate run --source infra/migrations; do
    sleep 1
done
'''

[tasks.sqlx]
extend = "set-env-local"
install_crate = { crate_name = "sqlx-cli", binary = "sqlx", test_arg = "--help", version = "0.7.3" }
command = "sqlx"
args = ["${@}", "--source", "infra/migrations"]

[tasks.psql]
extend = "set-env-local"
command = "docker"
args = [
  "run", "-it", "--rm",
  "--network", "host",
  "-v", "${PWD}:/work",
  "postgres:15", "psql", "${DATABASE_URL}", "${@}"
]


# --- Docker Compose ---
[tasks.compose]
extend = "set-env-docker"
command = "docker"
args = ["compose", "${@}"]

# --wait で healty になるまで待機する
# これをつけないと DI コンテナ作成時にエラーが発生することがある
[tasks.compose-up]
extend = "set-env-docker"
command = "docker"
args = ["compose", "--profile", "selenium", "up", "-d", "--wait"]

[tasks.compose-up-db]
extend = "set-env-docker"
command = "docker"
args = ["compose", "up", "-d"]

[tasks.compose-down]
extend = "set-env-docker"
command = "docker"
args = ["compose", "--profile", "selenium", "down"]

[tasks.compose-remove]
extend = "set-env-docker"
command = "docker"
args = ["compose", "--profile", "selenium", "down", "-v"]
