[config]
default_to_workspace = false

# トップレベル env は特別な意味を持つ
# すべてのタスクで共通の環境変数として使われる
[env]
HOST = "0.0.0.0"
PORT = 8080
DATABASE_USERNAME = "app"
DATABASE_PASSWORD = "passwd"
DATABASE_NAME = "app"
DATABASE_PORT_OUTER = 5434
DATABASE_PORT_INNER = 5432
NOTIFY_DISCORD = "TRUE"

# Docker Composeのネットワーク内でのDB等への接続情報
# tasks.hoge.env はタスクごとの環境変数として使われる
[tasks.set-env-docker.env]
DATABASE_HOST = "postgres"
DATABASE_PORT = "${DATABASE_PORT_INNER}"
DATABASE_URL = "postgresql://${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}?user=${DATABASE_USERNAME}&password=${DATABASE_PASSWORD}&sslmode=disable"

# Docker Compose外からDB等にアクセスする際の接続情報
[tasks.set-env-local.env]
DATABASE_HOST = "localhost"
DATABASE_PORT = "${DATABASE_PORT_OUTER}"
DATABASE_URL = "postgresql://${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}?user=${DATABASE_USERNAME}&password=${DATABASE_PASSWORD}&sslmode=disable"


[tasks.before-build]
run_task = [
    { name = [
        "compose-up-db",
        "compose-up-chromedriver",
        "migrate",
    ] },
]

[tasks.run-notifier]
extend = "set-env-local"
dependencies = ["before-build"]
command = "cargo"
args = ["run", "--release", "-p", "batch", "${@}"]

[tasks.run-server]
extend = "set-env-local"
dependencies = ["before-build"]
command = "cargo"
args = ["run", "--release", "-p", "server", "${@}"]

[tasks.logs]
extend = "set-env-docker"
dependencies = ["before-build"]
command = "docker"
args = ["compose", "logs", "${@}"]

[tasks.build]
extend = "set-env-local"
dependencies = ["before-build"]
command = "cargo"
args = ["build", "${@}"]

[tasks.check]
extend = "set-env-local"
dependencies = ["before-build"]
command = "cargo"
args = ["check"]


### Development

[tasks.watch]
extend = "set-env-local"
dependencies = ["before-build"]
run_task = [{ name = ["fmt", "clippy", "test"] }]
watch = true

[tasks.fmt]
extend = "set-env-local"
command = "cargo"
args = ["fmt", "--all", "${@}"]

[tasks.clippy]
extend = "set-env-local"
command = "cargo"
args = ["clippy", "--all", "--all-targets", "${@}"]

[tasks.test]
extend = "set-env-local"
install_crate = { crate_name = "cargo-nextest", binary = "cargo", test_arg = [
  "nextest", "--help",
] }
command = "cargo"
args = [
  "nextest", "run", "--workspace",
  "--status-level", "all", "--test-threads=1",
]

[tasks.clippy-ci]
extend = "set-env-local"
dependencies = ["before-build"]
command = "cargo"
args = ["clippy", "--", "--no-deps", "-Dwarnings"]

[tasks.test-ci]
dependencies = ["before-build"]
run_task = "test"


### Migration
[tasks.migrate]
extend = "set-env-local"
install_crate = { crate_name = "sqlx-cli", binary = "sqlx", test_arg = "--help", version = "0.7.3" }
script = '''
#!/bin/bash
until sqlx migrate run --source infra/migrations; do
    sleep 1
done
'''

[tasks.sqlx]
extend = "set-env-local"
install_crate = { crate_name = "sqlx-cli", binary = "sqlx", test_arg = "--help", version = "0.7.3" }
command = "sqlx"
args = ["${@}", "--source", "infra/migrations"]

[tasks.psql]
extend = "set-env-local"
command = "docker"
args = [
  "run", "-it", "--rm",
  "--network", "host",
  "-v", "${PWD}:/work",
  "postgres:15", "psql", "${DATABASE_URL}", "${@}"
]


### Docker Compose

[tasks.compose]
extend = "set-env-docker"
command = "docker"
args = ["compose", "${@}"]

# healty になるまで待機する
# これをつけないと DI コンテナ作成時にエラーが発生することがある
[tasks.compose-up-chromedriver]
extend = "set-env-docker"
command = "docker"
args = ["compose", "--profile", "selenium", "up", "-d", "--wait"]

[tasks.compose-up-db]
extend = "set-env-docker"
command = "docker"
args = ["compose", "up", "-d", "postgres"]

[tasks.compose-down]
extend = "set-env-docker"
command = "docker"
args = ["compose", "--profile", "selenium", "down"]

[tasks.compose-remove]
extend = "set-env-docker"
command = "docker"
args = ["compose", "down", "-v"]
