[package]
name = "shared"
version = "0.1.0"
edition.workspace = true
publish.workspace = true
license.workspace = true

[dependencies]
anyhow.workspace = true
axum.workspace = true
tracing.workspace = true
tracing-subscriber.workspace = true