
on:
  push:
    branches: [ main ]
  pull_request:
    paths-ignore:
      - "README.md"
      - image/**

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2
      - name: Install Rust toolchain
        run: |
          rustup toolchain install stable
      - name: Install cargo-related tools
        uses: taiki-e/install-action@v2
        with:
          tool: nextest,cargo-make
      - name: Test
        run: cargo make test-ci
      - name: Clippy
        run: cargo make clippy-ci -- -Dwarnings
      - name: Rustfmt
        run: cargo make fmt -- --check
